
.interna_produtos {
  background: url("../img/bg-produtos.jpg") no-repeat center;
  background-size: cover;
}

.produtos_item {
  padding-top:60px;
}

.produtos_item h2{
  font-size:36px;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight:bold;
  position: relative;
  top: -180px;
  text-align: center;
  color: #d8d7d3;
  margin-bottom: -56px;
}

.produtos_item h2:after, .produtos_item h2::before{
 content: "";
 display: block;
 width: 60px;
 height: 2px;
 background: #d8d7d3;
 margin: 6px auto 8px auto;
}
 .produto_icone{
   background:#272b2e;
   padding: 70px 0 ;
 }

 .produto_icone img{
  margin: 0 auto;
 }

 .produto_info{
   background: #272b2e;
 }
 .produto_info P{
   color:#d8d7d3;
   font-size: 18px;
   line-height: 25px;
   padding: 40px;
   height: 184px;
 }
 .produto_info ul li{
   background:#e9bc45;
   text-transform: uppercase;
   font-size: 18px;
   line-height: 20px;
  float: left;
   width: 229px;
   height: 49px;
   text-align: center;
   padding-top: 16px ;
   font-weight: bold;
 }

 .produto_info ul li:nth-child(1), .produto_info ul li:nth-child(2){
   margin-bottom: 2px;
 }

.produto_info ul li:nth-child(even){
margin-left: 2px;
}

/*Orçamento*/

.orcamento{
  background:#272b2e;
  width: 100%;
  margin-top: 60px;
  padding:40px 0;
}

.orcamento h2{
  color:#e9bc45;
}
.orcamento h2:after{
  background: #e9bc45;
}
.form{
  padding-right:100px;
}

.form label{
  display: block;
  color: #d8d7d3;
  font-family:Yu Gothic, Arial, sans-serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}
.form input{
  display: block;
  width: 100%;
  border: 2px solid #e9bc45;
  background: none;
  color: #d8d7d3;
  padding: 7px 10px;
  margin-bottom: 10px;
  outline: none;
  font-size: 14px;
  font-family: Courier New, "Times New Roman", Times, serif;
}

.form textarea{
  display: block;
  width: 100%;
  height: 120px;
  border: 2px solid #e9bc45;
  background: none;
  color: #d8d7d3;
  padding: 7px 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 14px;
  font-family: Courier New, "Times New Roman", Times, serif;
}

.form button{
  background: none;
  padding: 7px 40px;
}

.orcamento_dados{
  color:#d8d7d3;
padding-left: 20%;

}
.orcamento_dados h3{
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
  color:#e9bc45;
  font-weight: bold;
}
.orcamento_dados span{
  margin-bottom: ;
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-family: Courier New, "Times New Roman", Times, serif;
}

.dados_email{
  margin-bottom: 40px;
}
.orcamento_dados ul{
  padding-right: 10px;
}

.orcamento_dados ul li{
  font-family: Courier New, "Times New Roman", Times, serif;
  font-size: 14px;
  background: #484B4D;
  padding:10px 10px ;
}

.orcamento_dados p {
  margin: 8px 0;
}

.orcamento_dados ul li:nth-child(n){
  margin-bottom: 2px;
}

